html {
    background-image: url("http://i.imgur.com/wt4Hjyb.png");
    background-repeat: no-repeat;ccVes5
    background-size: 5em;
    background-position: center;
    background-attachment: fixed;
}

#big > a {
  text-align: center;
  background-color: transparent;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  color: rgb(45, 45, 45);
}


#logo {
  text-align: center;
  display: inline-block;
  bottom: 2em;
  position: absolute;
}

img {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
