<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bureau Billy</title>
<link href="/stylesheets/archichic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
<meta name="keywords" content="bureau, billy, Bureau, Billy, Bureau Billy, BureauBilly, bureau billy, bureaubilly"/>
</head>
  <body>
  <div id="big">
  <a href="mailto:info@bureaubilly.com? target="_top">
  </a>
  </div>
  <div id="logo">
  <a href="https://www.verdadesign.com"target="_blank"><img src="http://i328.photobucket.com/albums/l326/magiky13/verda1_zpsvirzlhug.png" width="15%" height="auto"/></a>
  <a href="https://grandcapital.net"target="_blank"><img src="http://i328.photobucket.com/albums/l326/magiky13/grand-capital-logo_zpsvynv2jwm.png" width="10%" height="auto"/></a>
  <a href="https://captainskin.com"target="_blank"><img src="http://i328.photobucket.com/albums/l326/magiky13/captainskins_zps8axsdkct.png" width="4%" height="auto"/></a>
  </div>
 </body>
</html>
